/* --------------------------- PART THREE ------------------------------  */
/* envoyer les titres courant pour cette partie */
.pagedjs_titrepartiepart-three_page h2.edition-block-title {string-set: threetitle content(text) }
.pagedjs_part-three_page h4.edition-block-title {string-set: threesubtitle content(text) }

/* Nommer la page pour styler les marges et numéros de pages */
.part-three{
   page: part-three;
}

/*.titre-partie.part-three .tableofcontents-block-title li{
	background: var(--pantone-three);
}*/


/* ----- PART THREE COLORS --------*/
@page part-three{
  /* couleur des numéros de page*/
  @bottom-right {
   color: var(--pantone-three);
 	}
 	/* contenu titre courant et couleur du titre courant */
 	 @bottom-left {
    color: var(--pantone-three);
    content: string(threetitle) ' -> ' string(threesubtitle);
  }
}

/*.part-three a{
	color: var(--pantone-three);
}*/

/* couleur de la page précédente*/
/*.pagedjs_titrepartiepart-three_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-three);
}*/

/*.pagedjs_part-three_page.pagedjs_right_page ~ .pagedjs_blank_page{
	background: var(--pantone-three);
}*/

/* tentative de fixer le bug qui ne donne pas la classe .pagedjs_blank_page au page précédent les titres des articles*/
.pagedjs_part-three_first_page, 
.pagedjs_titrepartiepart-three_page.pagedjs_blank_page,
.pagedjs_part-three_page.pagedjs_blank_page{
	background: var(--pantone-three);
	position: relative;
}

.pagedjs_part-three_first_page .plus,
.pagedjs_titrepartiepart-three_page.pagedjs_blank_page .plus,
.pagedjs_part-three_page.pagedjs_blank_page .plus{
	color: #FFF;
}

.part-three .content-ul li::before{
	color: var(--pantone-three);
}

.part-three ul li::before{
	color: var(--pantone-three);
}

 .part-three .tableofcontents-block-title li::before{
 	color: #FFF;
 }


.part-three .content-ol li::marker {
  color: var(--pantone-three);
}

.part-three .content-ol li::before, .part-three ol li::before{
	color: var(--pantone-three);
}


.part-three .content-figure figure{
	background: var(--pantone-three);
}

.part-three figcaption,
.part-three .contents-container figcaption,
.part-three .contents-container figcaption p{
	color: var(--pantone-three);
}

/* couleur du titre */
.part-three .edition-block-title{
	color: var(--pantone-three);
}

/* couleur du sous-titre */
.part-three .edition-block-subtitle{
	color: var(--pantone-three);
}

/* couleur des titres dans le texte*/
.part-three .contents-container h1,
.part-three .contents-container h2,
.part-three .contents-container h3,
.part-three .contents-container h4,
.part-three .contents-container h5{
	color: var(--pantone-three);
}

/* couleur des notes */
.pagedjs_part-three_page .footnote, 
.pagedjs_part-three_page .footnote a,
.pagedjs_part-three_page .note-pointer a{
  color: var(--pantone-three);
}

.pagedjs_part-three_page .footnote-ref sup{
	color: var(--pantone-three);
}

/* Couleur des interpages */
.part-three.titre-partie{
  page: titrepartiepart-three;
}

@page titrepartiepart-three{
	background-color: var(--pantone-three);
	@bottom-right {
   content: none;
 	}

}

/* Mettre des plus derrière le grand titre */
.pagedjs_titrepartiepart-three_page{
	position: relative;
	background: var(--pantone-three);
}

.pagedjs_titrepartiepart-three_page .plus{
	color: #FFF;
}

.part-three .ressources, 
.part-three .ressources a, 
.part-three .ressources-wrapper, 
.part-three .ressources-wrapper a{
	color: var(--pantone-three);
}

/* Mise en page part-three */
/*.part-three{
	break-before: page;
}*/

/* couleurs des auteurs */
.part-three .article-author{
	color: var(--pantone-three);
	text-align: right;
	margin-top: 1cm;
	text-align-last: right;
}

/* ----- FIN PART THREE COLORS --------*/

/* Nommer la page intro de la partie 2 pour styler les marges et numéros de pages */
.part-intro-three{
	page: part-intro-three;
}

.part-intro-three .contents-container{
	margin-top:0;
}


@page part-intro-three{
	@bottom-left {
		content: none;
		color: var(--pantone-three);
	}
	@bottom-right {
   color: var(--pantone-three);
 	}
}

/* ----------- Enquetes --------------- */
.enquetes, .enquete{
	break-before: page;
}
/* FIN Menu / Sommaire pour chaque thème */

/* faire commencer les articles sur la page de droite */
.enquete h4.edition-block-title{
	page-break-before: always;
	break-before: right;
}

/*.enquetes h4.edition-block-title, .fiche h5.edition-block-title{
	break-before: avoid;
}

.enquete h5.edition-block-title{
	font-size: 18pt;
	page-break-before: always;
	width: 100%;
	margin-left: 0;
}*/

/*.fiche h5.edition-block-title::before{
	content:"+";
	margin-right: 0.2cm;
}*/


/*.enquete .contents-container{
	margin-top: 1.5cm;
}*/

.enquetes .content-p{
	font-style: italic;
}


/* ----------- TUTORIEL --------------- */

/*.tutoriel-title{
	width: 140%;
	margin-left: -40%;
	margin-top: 0;
	page-break-before: always;
}*/
/*.tutoriel-wrapper h2.tutoriel-title em{
  font-family: "HK Grotesk";
  font-weight: bold;
  font-size: 14pt;
   font-style: normal;
}
.contents-container h2.tutoriel-title{
	margin-top: 0;
	margin-bottom: 0.5cm;
}*/



/* tagguer la page tutoriel pour créer une trame de plus */
.tutoriel-wrapper{
   page: tutoriel;
}

.tutoriel-wrapper{
	width: 105%;
	margin-left: -21%;
  background-color: #FFF;
  z-index: 20;
  position: absolute;
  padding: 5mm 5mm;
  page-break-before: always;
}

.contents-container .tutoriel-wrapper h2{
	margin-left: 0;
	margin-bottom: 0cm;
	font-family: "HK Grotesk";
}

.contents-container .tutoriel-wrapper h2::before,
.contents-container .tutoriel-wrapper h1::before{
	content:none;
}


.contents-container .tutoriel-wrapper h3{
	margin-top: 0;
	margin-bottom: 13.5pt;
	font-family: "HK Grotesk";
	font-weight: bold;
}

.contents-container .tutoriel-wrapper .content-p + h3{
	margin-top: 13.5pt;
}


.content-title.tutoriel-title em, .content-title.tutoriel-title{
	font-family: "HK Grotesk";
  font-weight: bold;
  font-size: 14pt;
  font-style: normal;
  margin-left: 0;
}

.pagedjs_tutoriel_page{
	position: relative;
}

.plus-tutoriel-container{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
}

.plus-tutoriel{
	color: var(--pantone-three);
	line-height: 0.8;
}

@page tutoriel{
  /* couleur des numéros de page*/
  @bottom-right {
   color: var(--pantone-three);
   background-color: #FFF;
 	}
 	/* contenu titre courant et couleur du titre courant */
 	 @bottom-left {
    color: var(--pantone-three);
    background-color: #FFF;
  }
}
