@import "fonts.css"; 


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

body{
  font-size: 15px;
  text-align: left;
  text-align-last: left;
  overflow-x: hidden;
}

header{
  position: fixed;
  top:0;
  left:0;
  /*width: 20%;*/
  width: 100%;
  z-index: 100;
  /*background: #FFF;*/
}

header h1{
  margin: 0; 
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  text-align-last: center;
  background: #FFF;
  /*padding: 20px; */
  /*font-size:20px;*/
  color: #000 !important;
}

sup{
  top: 0;
}

.small-caps + sup{
  top: 3px;
}

.footnote-ref sup{
  top: 1px;
}


.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.show-for-large-only{
  display: none;
}

.show-for-small-only{
  display: block;
}

.menu{
  color: #FFF;
  font-family: var(--font-title);
  position: relative;
  left: calc(-100% + 50px);
  max-width: 100%;
  transition: left 1s ease;
  width: calc(100% - 50px);
  position: fixed;
  z-index: 100;
}

.menu.active{
  left: 0;
}

.menu ul {
  margin: 0;
  padding-left: 0;
}

.menu ul li {
  margin: 0;
}

.menu ul li a{
  color:#FFF;
}

.sommaire-btn{
  padding: 3px 20px 10px;
  background: #000;
  transform: rotate(90deg);
  transform-origin: 100% 100% ;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}



.menu ul.level-1{
  padding: 3px 20px 10px;
}

.menu ul.level-1.part-2 .level-2 li.active, 
.menu ul.level-1.part-2 .level-2 li a:hover,
.menu ul.level-1.part-3 .level-2 li.active, 
.menu ul.level-1.part-3 .level-2 li a:hover{
  text-decoration: underline;
}


.menu ul.level-1 > li{
  font-size: 28px;
}

.menu ul.level-2{
  display: none;
}

.menu ul.level-2.active{
  display: block;
}

.menu ul.level-2 > li{
  font-size: 20px;
}

.menu ul.level-3{
  display: none;
  padding-left: 20px;
}

.menu ul.level-3.active{
  display: block;
}

.menu ul.level-3 > li{
  font-size: 16px;
}

.menu ul.level-3 li a:hover, .menu ul.level-3 > li.active{
  text-decoration: underline;
}

.menu li::before{
  content:none;
}

.menu .intro, .menu .credits, .menu .makingoff, .menu .forccast{
  background: #000;
}

.menu .part-1{
  background: var(--pantone-one);
}

.menu .part-2{
  background: var(--pantone-two);
}

.menu .part-3{
  background: var(--pantone-three);
}

.content-ul{
  padding-left: 40px;
}

.content-p, .content-ul, .content-li, ul, li, ul li{
  font-size: 15px;
  line-height: 1.4;
  hyphens: none;
  word-spacing: 0;
  margin: 20px 0;
  text-align: left;
  text-align-last: left;
} 

.intro .content-p,
.intro .content-ul,
.intro .content-li,
.intro a, 
.intro h1,
.intro h2, 
.intro h3, 
.intro h4,
.intro h5,
.intro h6,
.intro blockquote, 
.intro .plus, 
.intro .contents-container h1, 
.intro .contents-container h2{
  color: #000;
}

/*.part-1 .content-p,*/
/*.part-1 .content-ul,*/
/*.part-1 .content-li,*/
/*.part-1 a, */
.part-1 .footnote,
.part-1 .footnote a,
.part-1 .footnote-ref sup,
.part-1 h1,
.part-1 h2, 
.part-1 h3, 
.part-1 h4,
.part-1 h5,
.part-1 h6,
/*.part-1 blockquote,*/
.part-1 figcaption, 
.part-1 .plus, 
.part-1 .contents-container h1, 
.part-1 .contents-container h2, 
.part-1 .author-bio,
.part-1 .ressources-wrapper{
  color: var(--pantone-one);
}

/*.part-2 .content-p,*/
/*.part-2 .content-ul,*/
/*.part-2 .content-li,*/
/*.part-2 a, */
.part-2 .footnote,
.part-2 .footnote a,
.part-2 .footnote-ref sup,
.part-2 h1,
.part-2 h2, 
.part-2 h3, 
.part-2 h4,
.part-2 h5,
.part-2 h6, 
/*.part-2 blockquote,*/
.part-2 figcaption,
.part-2 .plus, 
.part-2 .contents-container h1, 
.part-2  .contents-container h2,
.part-2 .author-bio, 
.part-2 .ressources-wrapper{
  color: var(--pantone-two);
}

/*.part-3 .content-p,*/
/*.part-3 .content-ul,*/
/*.part-3 .content-li,*/
/*.part-3 a, */
.part-3 .footnote,
.part-3 .footnote a,
.part-3 .footnote-ref sup,
.part-3 h1,
.part-3 h2, 
.part-3 h3, 
.part-3 h4,
.part-3 h5,
.part-3 h6, 
/*.part-3 blockquote,*/
.part-3 figcaption,
.part-3 .plus, 
.part-3 .contents-container h1, 
.part-3  .contents-container h2,
.part-3 .author-bio, 
.part-3 .ressources-wrapper{
  color: var(--pantone-three);
}

.part-1 .download-article a, .part-1 .download-ressources a{
  background: var(--pantone-one);
}

.part-2 .download-article a, .part-2 .download-ressources a{
  background: var(--pantone-two);
}

.part-3 .download-article a, .part-3 .download-ressources a{
  background: var(--pantone-three);
}



.footnote{
  position: absolute;
  font-size: 14px;
  line-height: 1.4;
  right: 50px;
  width: 15%;
  min-width: 120px;
  max-width: 280px;
  background: #FFF;
  color: rgba(0,0,0,0.8);
  display: none !important;
}

.footnote a{
  color: rgba(0,0,0,0.8);
}

.footnote .note-pointer{
  font-size: 13px;
  /*font-weight: normal;*/
}

.note-pointer a, .footnote-ref{
  text-decoration:none !important;
  font-weight: bold;
}



.planche .content-figure{
  margin: 0;
  /*padding : 10px 20px;*/
  padding: 10px 10px 10px 0px;
  width: 100%;
}

.planche .content-figure:nth-child(odd){
  padding-left: 0;
}

.planche .content-figure:nth-child(even){
  padding-right: 0;
}

.planche .content-figure + .content-figure{
  margin-top: 0;
}

.planche .content-figure.portrait{
  /*width: 35%;*/
  width: 70%;
}

.figure-caption-content.alone-caption{
  padding : 10px 20px;
  font-size: 16px
}

.image-grid{
  display: flex;
  align-items: flex-start;
}

.image-grid .content-figure{
  padding-right: 40px;

}

.content-figure{
  width: 100%;
  margin: 0;
}

.content-figure + .content-figure{
  margin-top: 40px;
}

.content-figure.portrait{
  width: 50%;
  margin: 0 auto;
}

figcaption, .contents-container figcaption, .contents-container figcaption p{
  font-size: 0.6em;
}

.part-1 .content-figure .content-figure-wrapper{
  background: var(--pantone-one);
}

.part-2 .content-figure .content-figure-wrapper, .controverse .content-figure figure{
  background: var(--pantone-two);
}

.part-3 .content-figure .content-figure-wrapper{
  background: var(--pantone-three);
}

.content-figure-wrapper, figure, .controverse figure{
  outline: none;
}


blockquote{
  font-size: 0.8em;
  line-height: 1.4;
  text-align: left;
  width: calc(100% - 60px);
}



.contents-container h1 {
  /*text-align: center;*/
  font-size: 1.7em;
  /*font-family: 'HKGrotesk';*/
  /*font-weight: 600;*/
  margin-top: 15%;
  margin-bottom: 6%;
  padding-bottom: 0%;
  margin-left: 35px;
  /*text-align-last: center; */
}

.contents-container h1:before{
  margin-left: -35px;
  margin-right: 15px;
}

.contents-container h2 {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 0%;
  padding-bottom: 2%;
  margin-left: 50px;
}

.contents-container h2:before{
  margin-left: -50px;
  margin-right: 15px;
}

.contents-container h2 + .content-p{
  margin-top: 0;
}

h2.edition-block-title, h3.edition-block-subtitle{
  margin-left:0;
}

h2.edition-block-title{
  /*font-size: 4.3em;*/
  font-size: 11vw;
  line-height: 1.2;
  /*width: 120%;*/
  width: 100%;
  word-break: break-word;
}

h3.edition-block-subtitle{
  font-size: 1.5em;
  line-height: 1.2;
  /*margin-top: 30px;*/
}

h2.edition-block-title + .content-p, h3.edition-block-subtitle + .content-p{
  margin-top: 40px;
}


.edition-block {
  margin:auto;
  margin-left: 40px;
  /*width: 52%;*/
  width: calc(100% - 40px);
  /*min-width: 380px;*/
  margin-top: 50px;
  margin-bottom: 80px;
  background: #FFF;
}

.content-iframe{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}


.content-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* planche d'images */
.planche{
  width: 100%;
  margin: 0;
  margin-top: 50px;
}

.author{
  text-align: right;
  margin-top: 60px;
}

.from-author{
  font-size: 14px;
  display: block;
}

.author-bio{
  font-size: 14px;
  max-width: 28em;
  margin-top: 0;
}

.ressources-wrapper{
  margin-top: 50px;
  margin-bottom: 50px;
  /*border-top: 1px solid #000;*/
  padding-top: 50px;
}

.ressources-wrapper h1.ressources-title{
  margin-bottom: 50px;
}

.content-p + .ressources-ref{
  margin-top: 50px;
}

/* article footer */
.article-footer{
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  /*width: 52%;
  min-width: 380px;*/
  margin-left: 40px;
  width: calc(100% - 40px);
  margin-bottom: 100px;
  background: #FFF;
}

.download-article, .download-ressources{
  margin-bottom: 40px;
}

.download-article a, .download-ressources a{
  font-weight:bold;
  text-align: center; 
  transition: opacity 0.5s linear;
  opacity: 1;
}

.download-article a:hover, .download-ressources a:hover{
  opacity: 0.8;
}


.download-arrow{
  width: 30px;
  display: inline-block;
  /*font-size: 15px;*/
}

.dowload-arrow img{
  width:100%;
}

.navigation-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 1px solid #000;
}

.navigation-inner a{
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.navigation-inner a:hover{
  opacity: 0.8;
}

.navigation-title{
  /*font-family: var(--font-title);*/
  font-weight: bold;
}

.right-arrow  .navigation-title{
  text-align: right;
  text-align-last: right;
}

.fleche{
  margin:20px 0px;
  /*margin-right: 20px;*/
  /*font-size: 50px;*/
  margin-right: 10px;
  font-size: 2em;
  font-weight:100;
  color: var(--gris);
}



.fleche:last-child{
  margin-left: 10px;
  /*margin-left: 20px;*/
  margin-right: 0px;
}

.navigation-inner.noir a{
  color: var(--gris);
}

.navigation-inner.pantone-one a{
  color: var(--pantone-one);
}

.navigation-inner.pantone-two a{
  color: var(--pantone-two);
}

.navigation-inner.pantone-three a{
  color: var(--pantone-three);
}

/*.article-footer{
  padding-bottom: 4%;
  margin-left: 25%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.article-footer .article-footer-inner{
  display: flex;
  align-items: center;
  color:  var(--gris);
}
*/



.plus{
  position: absolute;
  z-index: -1;
  font-weight: lighter;
  color: #000; 
  font-size: 15px;
}

/* TUTORIEL */

.tutoriel-wrapper{
  width: 70%;
  margin:0;
  position: relative;
  padding: 50px 80px;
  border: 10px solid transparent;
  border-image: url(../images/plus-frame.png) 30 round;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 17px;
}

.tutoriel-wrapper .content-p, .tutoriel-wrapper .content-ul, .tutoriel-wrapper li{
  font-size: 17px;
}

.tutoriel-wrapper h2, .tutoriel-wrapper h3{
  margin-left:0;
  font-family: var(--font-text);
  font-weight:bold;
}

.tutoriel-wrapper h2:before{
  content: none;
}

.tutoriel-wrapper h3{
  font-size: 17px;
  margin-bottom: 0;
}



/* ----------------- HOME ------------------------------*/

#container-homescreen{
  width: 100%;
  height: 100vh;
  position: relative;
}

#defaultCanvas0{
  position: absolute; 
  z-index: -1; 
  top:-10px;
  left:-20px;
}

.citation {
  z-index: 4;
  position: absolute;
  left: 30px;
  bottom: 50px;
  font-family: 'YoungSerif';
  /*font-size: 6.5vw;*/
  font-size: 10vw;
  line-height: 1.2;
  color: var(--gris);
  width: calc(100% - 200px);
}

.citation span{
  background-color: var(--fond);
}


.arrow-bottom{
  background-color: var(--gris);
  display: block;
  position: absolute; 
  bottom: 8%;
  right: 5%;
  padding: 10px 5px 5px;
  transform: scale(0.8);
}

.arrow-bottom a {
  text-decoration: none;
  color: #FFF;
}

#container-menu-pres {
  position: relative;
  margin: 10px; 
  padding-top: 1em;
  /*display: flex; */
}

#container-menu-pres h1{
  font-size: 9vw;
  text-align: center;
  text-align-last: center;
  margin-top:0;
  margin-bottom: 0;
}

#container-menu-pres .gif{
/*  width: 120%;
  margin-left: -10%;*/
  width: 150%;
  margin-left: -25%;
  height: 574px;
  overflow: hidden;
  position: relative;
}

#container-menu-pres .gif img{
  position: absolute;
  top: -10%;
}

.presentation {
  /*margin-left: -10%;*/
  /*width: 90%;*/
  position: relative;
  margin-bottom: 120px;
}

.presentation p{
  font-weight: bold;
}

#container-menu-pres .col-right{
  position: absolute;
  left: 105%;
  font-size: 0.8em;
  width: 18vw;
}

#container-menu-pres .col-right h4{
  font-family: var(--font-text);
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

#container-menu-pres .col-right p{
  font-weight: normal;
  margin-top: 5px;
}
#container-menu-pres .col-right > div{
  margin-bottom: 50px;
}

#container-menu-pres .col-right .btn a{
  background: #FFF;
  border: 1px solid #000;
  color: #000;
}

#container-menu-pres article{
  max-width: 32em;
  margin: auto;
  background: #FFF;
}

#container-menu-pres .image-bandeau{
  width: 200%;
  margin-left: -50%;
  height: 574px;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  margin-top: 100px;
}

#container-menu-pres .image-bandeau img{
  position: absolute;
  top: -30%;
}

#container-menu-pres .image-grid{
  display: flex;
  flex-wrap: wrap; 
}

#container-menu-pres .image-grid figure{
  width: 50%;
  padding: 20px;
  margin: 0;
}

#container-menu-pres .image-grid figure:nth-child(odd){
  padding-left: 0;
}

#container-menu-pres .image-grid figure:nth-child(even){
  padding-right: 0;
}

.btn{
  margin: 20px 20px 20px 0;
}

.btn a, .download-article a, .download-ressources a{
  background: #000;
  color: #fff;
  border-radius: 3px;
  padding: .5em .75em;
  border: none;
}

figure{
  margin: 40px 0;
}


.content{
  padding-top: 60px;
  margin-left: 33%;
  width: 50%;
  margin-bottom: 300px;
}

.content h1{
  font-family: var(--font-title);
  margin-top: 0;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center; 
}

.content-p a, .footnote-p a{
  text-decoration: underline;
}

.content-p a:hover, .footnote-p a:hover{
  opacity: 0.8;
}


/*.presentation{
  font-size: 21px;
  width: 120%;
  max-width: 100%;
}*/


/* Smartphones */
@media only screen and (max-width: 48em){
  body{
    /*background: yellow;*/
  }
}

@media only screen and (min-width: 48em){
  body{
    /*background: pink;*/
    font-size: 21px;
  }
  header h1{
    padding: 20px; 
    font-size:21px;
  }
  .menu{
    width: 30%;
    left: -30%;
  }
  h2.edition-block-title{
    font-size: 3.8em;
    /*width: 120%;*/
    max-width: 820px;
  }
  .edition-block {
    width:70%;
    margin-left: 50px;
    margin-top: 80px;
    max-width: 820px;
  }

  .show-for-large-only{
    display: block;
  }

  .show-for-small-only{
    display: none;
  }
  .citation{
    font-size: 6.5vw;
  }
  #container-menu-pres {
    margin: 30px;
  }
  #container-menu-pres h1{
    font-size: 3em;
  }
  .presentation-text{
    font-size: 1.2em;
  }
  .content-p, .content-ul, .content-li, ul, li, ul li{
    font-size: 21px;
  }
  .article-footer{
    margin-right: 50px;
    margin-left: 50px;
    width: calc(100% - 100px);
    max-width: 1220px;
  }
  .footnote{
    display: inline-block !important;
  }
  .planche .content-figure{
    padding : 10px 20px;
  }

  .planche .content-figure{
    width: 50%;
  }

  .planche .content-figure.portrait{
    width: 35%;
  }
/*  .download-article, .download-ressources{
    width: 52%;
    margin: auto;
  }*/
}


@media only screen and (min-width: 64em){
  body{
    /*background: lightgreen;*/
  }
  .menu{
    width: 20%;
    left: -20%;
  }
  .edition-block {
    width: 52%;
    margin-left:auto;
    margin-right:auto;
    /*margin-top: 80px;*/
  }
  .download-article-wrapper{
    width: 57%;
    margin: auto;
  }

/*  .presentation{
    max-width: 120%;
    font-size: 1.5em;
  }*/
}


@media only screen and (min-width: 75em){
  body{
    /*background: lightblue;*/
    background: #FFF;
  }
/*  .edition-block{
    margin-top: 150px;
  }*/
  .article-footer{
    margin: auto;
  }
}



