:root {
	--pantone-one: #00664F;
	--pantone-two: #E40046;
	--pantone-three: #BB29BB;
	--noir: #000; 
	--gris: #666666;
	--font-title: "YoungSerif", serif;
	--font-text: "HK Grotesk", sans-serif;
	--size-title: 46pt; 
}