:root {
/*	--pantone-one: #00664F;
	--pantone-two: #E40046;
	--pantone-three: #BB29BB;*/
	--pantone-one: #006651;
	--pantone-two: #ef0044;
	--pantone-three: #4b00d8;
	--noir: #000; 
	--gris: #666666;
	--font-title: "YoungSerif", serif;
	--font-text: "HK Grotesk", sans-serif;
	--size-title: 46pt; 
	--gris: #222222;
  --fond: #FAFAFA;
}