:root {
/*	--pantone-one: #00664F;
	--pantone-two: #E40046;
	--pantone-three: #BB29BB;*/
/*	--pantone-one: #006651;
	--pantone-two: #ef0044;
	--pantone-three: #4b00d8;*/
	--pantone-one: #019772;
	--pantone-two: #F62C35;
	--pantone-three: #7C3BC8;
	--font-title: "YoungSerif", serif;
	--font-text: "HK Grotesk", sans-serif;
	--gris: #222222;
  /*--fond: #FAFAFA;*/
  --fond: #FFF;
}